In [4]:
pip install Category_encoders

Collecting Category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.5MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from Category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from Category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from Category_encoders) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from Category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from Category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from Category_encoders) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->Category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->Category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->Category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->Category_encoders) (0.16.0)
Installing collected packages: Category-encoders
Successfully installed Category-encoders-2.2.2

In [5]:
import category_encoders as ce
import pandas as pd

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [6]:
train_df=pd.DataFrame({'Degree':['High school','Masters','Diploma','Bachelors','Bachelors','Masters','Phd','High school','High school']})

In [8]:
#  Ordinalencoding or Label Encoding
encoder= ce.OrdinalEncoder(cols=['Degree'],return_df=True,
                           mapping=[{'col':'Degree',
'mapping':{'None':0,'High school':1,'Diploma':2,'Bachelors':3,'Masters':4,'phd':5}}])

train_df

        Degree
0  High school
1      Masters
2      Diploma
3    Bachelors
4    Bachelors
5      Masters
6          Phd
7  High school
8  High school

In [12]:
#fit and transform train data
train = encoder.fit_transform(train_df)
train.head()

   Degree
0     1.0
1     4.0
2     2.0
3     3.0
4     3.0

In [15]:
# One hot encoding or Nominal encodingenco
der=ce.OneHotEncoder(cols='Degree',handle_unknown='return_nan',return_df=True,use_cat_names=True)
train = encoder.fit_transform(train_df)
train

   Degree_High school  Degree_Masters  ...  Degree_Bachelors  Degree_Phd
0                 1.0             0.0  ...               0.0         0.0
1                 0.0             1.0  ...               0.0         0.0
2                 0.0             0.0  ...               0.0         0.0
3                 0.0             0.0  ...               1.0         0.0
4                 0.0             0.0  ...               1.0         0.0
5                 0.0             1.0  ...               0.0         0.0
6                 0.0             0.0  ...               0.0         1.0
7                 1.0             0.0  ...               0.0         0.0
8                 1.0             0.0  ...               0.0         0.0

[9 rows x 5 columns]

In [16]:
# Binary Encoder
encoder= ce.BinaryEncoder(cols=['Degree'],return_df=True)
train = encoder.fit_transform(train_df) 
train

   Degree_0  Degree_1  Degree_2  Degree_3
0         0         0         0         1
1         0         0         1         0
2         0         0         1         1
3         0         1         0         0
4         0         1         0         0
5         0         0         1         0
6         0         1         0         1
7         0         0         0         1
8         0         0         0         1

In [17]:
# Hash Encoding
encoder=ce.HashingEncoder(cols='Degree',n_components=6)
train = encoder.fit_transform(train_df)
train

   col_0  col_1  col_2  col_3  col_4  col_5
0      1      0      0      0      0      0
1      0      0      0      0      0      1
2      0      0      1      0      0      0
3      1      0      0      0      0      0
4      1      0      0      0      0      0
5      0      0      0      0      0      1
6      0      0      1      0      0      0
7      1      0      0      0      0      0
8      1      0      0      0      0      0

In [20]:
# Base-N-Encoding
encoder= ce.BaseNEncoder(cols=['Degree'],return_df=True,base=5)
train = encoder.fit_transform(train_df)
train

   Degree_0  Degree_1
0         0         1
1         0         2
2         0         3
3         0         4
4         0         4
5         0         2
6         1         0
7         0         1
8         0         1

In [22]:
#Target Encoding
data=pd.DataFrame({'class':['A,','B','C','A','A','B'],'Marks':[50,30,70,80,45,97]})
encoder=ce.TargetEncoder(cols='class') 
train = encoder.fit_transform(data['class'],data['Marks'])
train

       class
0  62.000000
1  63.096588
2  62.000000
3  62.365529
4  62.365529
5  63.096588

In [24]:
#Frequency encoding :-  sir, ishi ko count encoding or sum encoding kahte hai kya( # DOUBT)